@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "tangerino";
  src: url("assets/fonts/tangerino.woff2") format("woff2"),
    url("assets/fonts/tangerino.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}

body {
  cursor: url("assets/cursor.png") 9 9, auto;
  overflow: hidden;
    
    

}

/* index */

a{
  cursor: inherit;
}
.maingrid {
  display: grid;
  grid-template-columns: 10vw 24vw 38vw;
  grid-template-rows: 25vh 25vh 25vh 20.5vh 4.3vh;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  border: 2px black solid;
}

.cell {
  text-decoration: none;
   color: black;
  border: 2px black solid;
  font-family: roboto Mono;
  font-weight: bold;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

/* logo composition */
.circle {
  position: absolute;
  background: #ff8b20;
  width: 15vw;
  height: 15vw;
  z-index: 2;
  border-radius: 100%;
  margin-bottom: 15.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaf {
  border-radius: 0 67%;
  background: #34944f;
  width: 4.7vw;
  height: 4.7vw;
  position: absolute;
  margin-bottom: 6.5vw;
  margin-left: 3.9vw;
  transform-origin: top left;
  transition: ease-in-out 0.8s;
}

.circle:hover .leaf {
  transform: rotate(-15deg);
}

.circletxt {
  width: 19vw;
  object-fit: fill;
  padding-top: 0.3vw;
  position: absolute;
  animation: rotator 180s linear infinite;
}

@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logomaintext {
  position: absolute;
  align-self: flex-end;
  padding-bottom: 20.5vh;
  font-family: tangerino;
  font-weight: 500;
  font-size: 6vw;
  letter-spacing: 0;
}

.logo {
  width: 30vw;
  position: absolute;
  z-index: -1;
  background-color: rgba(165, 42, 42, 0);
}

#homelogo {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  background: #ffd540;
 
}

#architecture {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background: none;
}
#contacts {
  background: none;
}

#typeface {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  background: none;
}
#prjx {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
  background: none;
}

.spc {
  position: absolute;
  font-style: italic;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  background: none;
  margin-left: 1vw;
  margin-top: 15vh;
  letter-spacing: 0.2vw;
}

#info {
  background: none;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
#update {
  font-size: .8em;
  background: none;
  grid-row-start: 5;
  background: #ce2727;
  letter-spacing: .2vw;
}

#update_box {
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 5;
  overflow: hidden;
  font-size: .8em;
}

#architecture:hover {
  background: #ff8b20;
}
#prjx:hover {
  background: #7F5DC8;
}

#info:hover {
  background: #34944f;
}

#contacts:hover {
  background: #5bbdca;
}

#typeface:hover {
  background: #CA5B5B;
}

#update:hover {
  background: #8a1717;
}

.roll {
  animation: roll 30s linear infinite;
}
@keyframes roll {
  from {
    transform: translateX(70vw);
  }
  to {
    transform: translateX(-70vw);
  }
}


/* error */

.error_bg {
  width: 100vw;
  height: 100vh;
  background: #ffd540;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_er{
 position: absolute;
  background: #ff8b20;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38vh;
}

.nope{
position: absolute;
margin-top: 60vh;
font-family: tangerino;
font-size: 20vw;
margin-bottom: 15vh;
}

.lonely{
  align-self: flex-end;
  font-family: roboto mono;
font-size: .8em;
margin-bottom: 8vh;
margin-right: 2vh;
}

.lf_er{
  border-radius: 0 67%;
  background: #34944f;
  width: 6.3vw;
  height: 6.3vw;
  position: absolute;
  margin-bottom: 6.2vw;
  margin-left: 6.2vw;
  transform-origin: top left;
  transition: ease-in-out 1.2s;
  z-index: 2;
}

.ant{
  width: 3.4vw;
  position: absolute;
  margin-bottom: 7vw;
  margin-left: 7vw;
}
.circle_er:hover .lf_er {
  transform: rotate(-70deg);
}

