@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "tangerino";
  src: url("assets/fonts/tangerino.woff2") format("woff2"),
    url("assets/fonts/tangerino.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}

body {
  /* cursor: url("assets/cursor.png") 9 9, auto; */
  overflow: hidden;
}

/* index */

a {
  text-decoration: none;
    color: black;

  /* cursor: inherit; */
}
.maingrid {
  display: grid;
  grid-template-columns: 10vw 24vw 38vw;
  grid-template-rows: 25vh 25vh 25vh 20.5vh 4.3vh;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  border: 2px black solid;
}

.cell {
  
  color: black;
  border: 2px black solid;
  font-family: roboto Mono;
  font-weight: bold;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

/* logo composition */
.circle {
  position: absolute;
  background: #ff8b20;
  width: 15vw;
  height: 15vw;
  z-index: 2;
  border-radius: 100%;
  margin-bottom: 15.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaf {
  border-radius: 0 67%;
  background: #34944f;
  width: 4.7vw;
  height: 4.7vw;
  position: absolute;
  margin-bottom: 6.5vw;
  margin-left: 3.9vw;
  transform-origin: top left;
  transition: ease-in-out 0.8s;
}

.circle:hover .leaf {
  transform: rotate(-15deg);
}

.circletxt {
  width: 19vw;
  object-fit: fill;
  padding-top: 0.3vw;
  position: absolute;
  animation: rotator 180s linear infinite;
}

@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logomaintext {
  position: absolute;
  align-self: flex-end;
  padding-bottom: 20.5vh;
  font-family: tangerino;
  font-weight: 500;
  font-size: 6vw;
  letter-spacing: 0;
}

.logo {
  width: 30vw;
  position: absolute;
  z-index: -1;
  background-color: rgba(165, 42, 42, 0);
}

#homelogo {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  background: #ffd540;
}

#architecture {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background: none;
}
#contacts {
  background: none;
}

#typeface {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  background: none;
}
#prjx {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
  background: none;
}

.spc {
  position: absolute;
  font-style: italic;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  background: none;
  margin-left: 1vw;
  margin-top: 15vh;
  letter-spacing: 0.2vw;
}

#info {
  background: none;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
#update {
  font-size: 0.8em;
  background: none;
  grid-row-start: 5;
  background: #ce2727;
  letter-spacing: 0.2vw;
}

#update_box {
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 5;
  overflow: hidden;
  font-size: 0.8em;
}

#architecture:hover {
  background: #ff8b20;
}
#prjx:hover {
  background: #7f5dc8;
}

#info:hover {
  background: #34944f;
}

#contacts:hover {
  background: #5bbdca;
}

#typeface:hover {
  background: #ca5b5b;
}

#update:hover {
  background: #8a1717;
}

.roll {
  animation: roll 30s linear infinite;
}
@keyframes roll {
  from {
    transform: translateX(70vw);
  }
  to {
    transform: translateX(-70vw);
  }
}

/* error */

.error_bg {
  width: 100vw;
  height: 100vh;
  background: #ffd540;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_er {
  position: absolute;
  background: #ff8b20;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 38vh;
}

.nope {
  position: absolute;
  margin-top: 60vh;
  font-family: tangerino;
  font-size: 20vw;
  margin-bottom: 15vh;
}

.lonely {
  align-self: flex-end;
  font-family: roboto mono;
  font-size: 0.8em;
  margin-bottom: 8vh;
  margin-right: 2vh;
}

.lf_er {
  border-radius: 0 67%;
  background: #34944f;
  width: 6.3vw;
  height: 6.3vw;
  position: absolute;
  margin-bottom: 6.2vw;
  margin-left: 6.2vw;
  transform-origin: top left;
  transition: ease-in-out 1.2s;
  z-index: 2;
}

.ant {
  width: 3.4vw;
  position: absolute;
  margin-bottom: 7vw;
  margin-left: 7vw;
}
.circle_er:hover .lf_er {
  transform: rotate(-70deg);
}

/* contacts */

.cntc_bg {
  width: 100vw;
  height: 100vh;
  background: #5bbdca;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infocard {
  border: 2px black solid;
  background: white;
  width: 40vw;
  height: 24vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto mono;
  letter-spacing: 10px;
  box-shadow: 1vw 1vw;
}

#email1 {
  margin-right: 6px;
  font-weight: 800;
}

/* logo cntacts composition */

.logo_ct {
  color: black;
  position: absolute;
  margin-right: 85vw;
  margin-bottom: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_ct {
  position: absolute;
  background: #ff8b20;
  width: 8vw;
  height: 8vw;
  z-index: 2;
  border-radius: 100%;
  margin-bottom: 15.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaf_ct {
  border-radius: 0 67%;
  background: #34944f;
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  margin-bottom: 3.4vw;
  margin-left: 2.3vw;
  transform-origin: top left;
  transition: ease-in-out 0.8s;
}

.circle_ct:hover .leaf_ct {
  transform: rotate(-15deg);
}

.circletxt_ct {
  width: 10vw;
  object-fit: fill;
  padding-top: 0.2vw;
  position: absolute;
  animation: rotator 180s linear infinite;
}

.logomaintext_ct {
  position: absolute;
  padding-top: 11vh;
  font-family: tangerino;
  font-weight: 500;
  font-size: 2.4vw;
  letter-spacing: 0;
}

/* arch */

.arch_grid {
  display: grid;
  grid-template-columns: 15vw 85%;
  grid-template-rows: 100vh;
  font-family: roboto Mono;
  font-weight: normal;
  font-size: 1.1em;
}

.grid1 {
  background: #34944f;
  display: grid;
  grid-template-rows: 15vw 85vh;
}

.arch_logo {
  background: #ffd540;
  border: 2pt black solid;
}

.arch_index {
  background: #ffd540;
  border: 2pt black solid;
  padding: 1vw;
  text-align: left;
}



.grid2 {
  background-image: radial-gradient(#c7b299 0.1vw, transparent 0);
  background-size: 5vw 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2pt black solid;
}

.viewer {
  border: 3pt black solid;
  /* background: red; */
  /* max-width: 60vw; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 40vw;
}

#arch_img {
  height: 40vw;
  width: 100%;
  max-width: 80vw;
}

.action {
  font-family: roboto Mono;
  background: white;
  position: absolute;
  align-self: flex-end;
  margin-bottom: 2vh;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: inherit;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #000000;
  color: white;
}

#arch_number {
  margin-right: -10px;
}


